/*  head */
*{
	margin:0px;
	padding:0px;
	box-sizing:border-boxing;
	font-family:sans-serif;
	font-size:20px;
	
} 
    /*header*/

header {
	display:flex;
	justify-content:space-between;
	align-items:center;
    padding:5px 10px;
	border-bottom:1px solid rgba(219,219,219,1);
    background-color:white;
}
.menu ul li a{
	text-decoration:none;
	justify-content:space-between;
	padding:10px;
	color:black;
	background-color:rgba(216, 202, 210, 0.9);
	display:flex;
}

