body{
	background-color: #f5f5f5;
    color: #4e4e4e;
	margin:0px;
}
.container{
 margin:0 10%;
 width:80%;
}
.d-flex{
	display:flex;
}
.align-items{
	align-items:center;
}
.justify-content-between{
	justify-content:space-between;
}
.j-content-a{
	justify-content:space-around;
}
.boxsizing{
	box-size:border-box;
}
.text-algc{
	text-align:center;
}
.flex-wrap{
	flex-wrap:wrap;
}
h1,h2,h3,h4,h5,h6{
	margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
p{
	margin-top: 0;
    margin-bottom: 1rem;
}

 
 /*header*/
 
header{
background-color:rgba(0, 0, 0, 0.9);
color:#fff;
position:fixed;
width:100%;
}
.logo{
	width:10%
}
.nav{
	width:60%;
}
.nav li{
	list-style:none;
}

/*background banner*/

.b-ground{
	background-image: url("../img/hero-bg.jpg");
	height:100vh;
	width:100%;
    background-size: cover;
    background-position: center center;
	z-index:-1;
	position:relative;
}
.b-ground::after{
	position:absolute;
	background-color:rgba(0,0,0,0.6);
	content:"";
	opacity:0.9;
	height:100vh;
	width:100%;
}
.title-backg{
	color:#fff;
	position:absolute;
	z-index:1;
	margin-left:25%;
	margin-top:17%;
}
.title-backg h1{
	font-size:4.5em;
	margin:0;
	padding-bottom:15px;
	
}
.title-backg p{
	font-size:2.5em;
	margin:0;
	text-align:center;
}

/*about section*/

.about{
	
	height:90vh;
	background-color:#fff;
	box-shadow:0 1px 1px 0 rgb(0 0 0 / 6%),
	            0 2px 5px 0 rgb(0 0 0 / 20%);
	margin-top:64px;
	margin-bottom:64px;
	
}
.l-side{
	width:50%;
	padding:20px;
}
.r-side{
	width:50%;
}
.r-side h5{
	font-size: 2rem;
	margin:0;
	padding:20px;
}
.r-side{
	font-size: 1.25rem;
    font-weight: 300;
}
.profile-p{
	width:50%;
}
.name{
	width:50%;
}
title-s{
	font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.skill-p{
	font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.range1{
	width:100%;
	height:2.2vh;
	background-color:#cde1f8;
}
.range1a{
	width:85%;
	height:2.2vh;
	background-color: #0078ff;
}
.range1b{
	width:75%;
	height:2.2vh;
	background-color: #0078ff;
}
.range1c{
	width:50%;
	height:2.2vh;
	background-color: #0078ff;
}
.range1d{
	width:90%;
	height:2.2vh;
	background-color: #0078ff;
}
.lead{
	line-height:30px;
}

/*Services section*/

.service-h{
	font-size: 3rem;
    font-weight: bold;
}
.service-p{
	color: #4e4e4e;
}
.service-ul{
	 width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
	margin-bottom:64px;
}
.s-titile{
	font-size: 1.4rem;
}
.s-description{
	color: #4e4e4e;
	padding:10px;
	line-height:20px;
}
.box1-c{
	width:32%;
	background-color:#fff;
	border-radius: 1rem;
	padding:40px 20px;
	box-sizing:border-box;
	margin-bottom:40px;
}
.icon-s {
	color: #1e1e1e;
	height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height:4rem;
    margin: 0 auto;
    box-shadow: 0 0 0 10px #0078ff;
	margin-top:40px;
	margin-bottom:40px;
	box-sizing:border-box;
	padding-top:25px;
}
.icon-s i{
	font-size:40px;
	text-align:center;
}
/*service counter*/

.bg-counter{
	background-image:url("../img/counters-bg.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
	height:65vh;
	position:relative;
	z-index:-1;
}

.bg-counter::after{
	position:absolute;
	background-color:#0078ff;
	content:"";
	opacity:0.7;
	height:65vh;
	width:100%;
}
.s-container{
	position:absolute;
	z-index:1;
	margin-top:64px;

}
.box1{
	color:#fff;
	margin-top:10vh;
	text-align:center;
	align-items:center;
}
.icon-c {
	border-radius: 100%;
    margin-top:20px;
	margin-left:20px;
	margin-bottom:25px;
    height: 60px;
    width: 60px;
    box-shadow: 0 0 0 10px #cde1f8;
	box-sizing:border-box;
	font-size:32px;
	padding-top:10px;
	align-items:center;
	
} 
.count{
	position:center;
}
.count p{
	    font-size: 2rem;
		margin-bottom:10px;
		margin-top:10px;
		text-align:center;
}
/*secttion portfolio*/
.port-head{
	padding-top:64px;
	padding-bottom:40px;
}
.port-head h3{
	font-size: 3rem;
    font-weight: bold;
	text-transform:uppercase;
}
.port-head p{
	color: #4e4e4e;
}
.box-p1{
	width:33%;
}
.img-p img{
	width:100%;
	height:35vh;
}
.img-cont{
	width:100%;
	box-sizing:border-box;
	padding:12px;
	background-color:#fff;
}
.img-cont2{
	font-size:30px;
	box-sizing:border-box;
	width:40px;
	height:40px;
	color: #007aff;
	font-weight:bold;
	border:2px solid #007aff;
	border-radius:50%;
	text-align:center;
}
.img-cont1{
	padding:12px;
}
.img-cont1 h2{
	font-weight:bold;
}
.img-cont1 p span{
	color:#007aff;
}