body{
	background-color: #f5f5f5;
    color: #4e4e4e;
	margin:0px;
}
.container{
	margin:0% 10%;
}
.d-flex{
	display:flex;
}
.align-items{
	align-items:center;
}
.justify-content-between{
	justify-content:space-between;
}
.nav ul {
	justify-content:space-between;
}
.b-ground{
	background-image: url("/img/hero-bg.jpg");
}