header{
	background-color:#0d4a57;
	height:10vh;
}
.first10{
	margin:5px;
	padding:25px;

	
}
div a{
	color:#16c943;
	padding:25px;
	font-family:impact;
	text-decoration:none;
	
}

h1{
	
	text-align:center;
	font-size:50px;
}
p{
	text-align:justify;
	text-indent:90px;
	font-size:25px;
}
main{
    
	color:white;
	background-image:url(backblack.png);
	background-repeat:no-repeat;
    background-size:cover;
    background-position:scroll;
	border:5px solid #0d4a57;
	padding:10px;
}
img{
	width:40%;
	margin:center;
	
}
#img2{
	width:30%;
}
#img3{
	width:200px;
}
.para3{
	background:urlimg/tim.png);
}
.div1{
	background-image:url(../img/tim.png);
	background-repeat:no-repeat;
	background-position:right;
	text-align:justify;
	padding-right:200px;
}
